$themes: (
  default: (
    "body-bg": #fef6f0,
    // Dropdown color
    "primary": #ded6e9,
    // Navbar hover color
    "secondary": #e9d8d6,
    "success": #9ddab7,
    // Button color
    "info": #a76bbd,
    "warning": #f5e094,
    "danger": #e88383,
    // Main background color/white text color
    "light": #fef6f0,
    // Text color
    "dark": #2d3436,
    // Background for edit and create modals
    "grey": #f9f6fa,
  ),
  dark: (
    "body-bg": #090f18,
    "primary": #89e5b0,
    "secondary": #fff9a4,
    "success": #00f867,
    "info": #330163,
    "warning": #fbcf33,
    "danger": #eb5757,
    "light": #ebeef1,
    "dark": #090f18,
    "grey": #cbcbcb,
  ),
);

$color-ranges: (
  0: 0,
  5: 5,
  10: 10,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  35: 35,
  40: 40,
);

$font-sans-serif: Open Sans;
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
  "Courier New", monospace;
$gradient: linear-gradient(
  180deg,
  hsla(0, 0%, 100%, 0.15),
  hsla(0, 0%, 100%, 0)
);
